<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141935651921-riehrj1rp4lk5kr7g3f6jfk517tvvbpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141935651921-riehrj1rp4lk5kr7g3f6jfk517tvvbpk</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Z1IWkqVperFfxIuMMO1inzxBpNcX6hU</string>
	<key>GCM_SENDER_ID</key>
	<string>141935651921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.phlippieb.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-course-section-15</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-course-section-15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141935651921:ios:16ca4ab488fc9edf4edc70</string>
</dict>
</plist>